.dodge {
  border-radius: 100% !important;
  display: inline-block !important;
  float: none !important;    
  margin: 0 0 0 10px !important;
  width: 100px !important;
}

.aboutpic {
  float: right !important;
  margin: 0 100px 0 0 !important;
  width: 40% !important;  
}

.aboutwrapper {

  h2 {
    display: inline-block !important;
    margin: 0 !important;
  }

  address {
    margin: 0 0 15px;
  }

  ul li {
    list-style-type: none;
    padding: 25px 0 0;
  }

  i {
    padding: 0 10px 0 0;
  }
}
