.mainwrapper {
  
  background-color: $manilla;
  border: 1px solid #aaa;
  border-radius: 15px;
  box-shadow: 5px 5px 5px;
  margin: 0;
  padding: 0 125px;
  width: 1450px;

  img {
    border-radius: 10px;
    box-shadow: 5px 5px 5px darken($manilla, 50%);
    display: inline-block;
    margin: 34px;
    width: 36%;
  }

  p {
    font-size: 14px;
  }
}

header p {
  font-size: 40px;
  padding: 0 125px;
}

h1 {
  font-size: 24px;
  text-transform: capitalize;
}

h2 {
  font-size: 18px;
  text-transform: capitalize;
}
